.AddColor {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.AddColor a {
    color: white;
    display: block;
}

.ColorList {

    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}